$darkColors: (
    // Main colors
    main-background-color: '#141414',
    navbar-color: '#5649FA',
    text-color: '#AFBFCA',
    primary-cta-color: '#AFBFCA',
    secondary-cta-color: '#2563EB',

    // Advanced colors
    // BACKGROUND COLORS
    subheader-background-color: '#141414',
    body-background-color: '#141414',
    input-background-color: '#141414',
    dropdown-background-color: '#141414',
    shadow-color: '#141414',
    navbar-background-color: '#141414',
    footer-background-color: '#141414',

    // SIDEBAR COLORS
    navbar-control-layer-color-10: '#8980FC',
    navbar-control-layer-color-20: '#A29BFC',
    navbar-control-layer-color-40: '#BBB6FD',
    navbar-control-layer-color-60: '#D5D2FE',
    navbar-control-layer-color-80: '#EEEDFF',
    navbar-control-layer-color-90: '#FFFFFF',

    navbar-control-bg-color-10: '#1E1A58',
    navbar-control-bg-color-20: '#3C33AF',
    navbar-control-bg-color-40: '#5649FA',
    navbar-control-bg-color-60: '#6F64FB',
    navbar-control-bg-color-80: '#8980FC',
    navbar-control-bg-color-90: '#A29BFC',

    // TEXT COLORS
    text-color-0: '#000000',
    text-color-10: '#2C3033',
    text-color-20: '#464C51',
    text-color-30: '#60696F',
    text-color-40: '#7A868D',
    text-color-50: '#95A2AC',
    text-color-60: '#AFBFCA',
    text-color-70: '#C7D2DA',
    text-color-80: '#DFE5EA',
    text-color-90: '#F7F9FA',
    text-color-100: '#FFFFFF',

    neutral-control-color-0: '#000000',
    neutral-control-color-10: '#1F2224',
    neutral-control-color-20: '#272A2D',
    neutral-control-color-30: '#2E3135',
    neutral-control-color-40: '#35393D',
    neutral-control-color-50: '#3C4145',
    neutral-control-color-60: '#464C51',
    neutral-control-color-70: '#4F555A',
    neutral-control-color-80: '#595E62',
    neutral-control-color-90: '#62676B',
    neutral-control-color-100: '#ffffff',

    neutral-control-layer-color-0: '#141A1E',
    neutral-control-layer-color-10: '#2D3133',
    neutral-control-layer-color-20: '#484E52',
    neutral-control-layer-color-30: '#626B71',
    neutral-control-layer-color-40: '#7D8890',
    neutral-control-layer-color-50: '#98A5AE',
    neutral-control-layer-color-60: '#B3C2CD',
    neutral-control-layer-color-70: '#CAD4DC',
    neutral-control-layer-color-80: '#E1E7EB',
    neutral-control-layer-color-90: '#F7F9FA',
    neutral-control-layer-color-100: '#FFFFFF',

    divider-color-10: '#25282B',
    divider-color-20: '#313639',
    divider-color-40: '#3D4347',
    divider-color-60: '#474C50',
    divider-color-80: '#5A5F63',
    divider-color-90: '#6E7275',

    // CTA COLORS
    primary-cta-color-10: '#1E1A58',
    primary-cta-color-20: '#272170',
    primary-cta-color-40: '#3C33AF',
    primary-cta-color-60: '#5649FA',
    primary-cta-color-80: '#6F64FB',
    primary-cta-color-90: '#8980FC',
    
    primary-cta-layer-color-10: '#ffffff',
    primary-cta-layer-color-20: '#ffffff',
    primary-cta-layer-color-40: '#ffffff',
    primary-cta-layer-color-60: '#ffffff',
    primary-cta-layer-color-80: '#ffffff',
    primary-cta-layer-color-90: '#ffffff',

    secondary-cta-color-10: '#0D2352',
    secondary-cta-color-20: '#112D6A',
    secondary-cta-color-40: '#1A45A5',
    secondary-cta-color-60: '#2563EB',
    secondary-cta-color-80: '#467AEE',
    secondary-cta-color-90: '#6692F1',

    secondary-cta-layer-color-10: '#ffffff',
    secondary-cta-layer-color-20: '#ffffff',
    secondary-cta-layer-color-40: '#ffffff',
    secondary-cta-layer-color-60: '#ffffff',
    secondary-cta-layer-color-80: '#ffffff',
    secondary-cta-layer-color-90: '#ffffff',

    // SYSTEM
    system-green-10: '#103C29',
    system-green-20: '#0C5D33',
    system-green-40: '#097F3E',
    system-green-60: '#05A048',
    system-green-80: '#03BD54',
    system-green-90: '#08DE65',

    system-blue-10: '#182C51',
    system-blue-20: '#1C3E84',
    system-blue-40: '#2151B8',
    system-blue-60: '#2563EB',
    system-blue-80: '#3774F9',
    system-blue-90: '#5A8EFF',

    system-yellow-10: '#443A19',
    system-yellow-20: '#876912',
    system-yellow-40: '#EFB008',
    system-yellow-60: '#FFC62D',
    system-yellow-80: '#FFD258',
    system-yellow-90: '#FFDC7C',

    system-red-10: '#3B181B',
    system-red-20: '#621618',
    system-red-40: '#891415',
    system-red-60: '#B01212',
    system-red-80: '#D83232',
    system-red-90: '#F15050',

    ask-10: '#3B181B',
    ask-20: '#621618',
    ask-40: '#891415',
    ask-60: '#B01212',
    ask-80: '#D83232',
    ask-90: '#F15050',

    bid-10: '#0F2C21',
    bid-20: '#0A3F25',
    bid-40: '#055128',
    bid-60: '#00632B',
    bid-80: '#00632B',
    bid-90: '#029C45',

    // OLD
    primary-cta-color-main: #4C40E6,
    color-contrast: #FFFFFF,
    cta-contrast: #090909,
    secondary-color: #737373,
    secondary-color-dark: #5A6689,
    secondary-color-light: #8B94AC,
    divider-color: #DCDCDC,
);

:root {
    @each $name, $color in $darkColors {
        --#{$name}: #{$color};
    }
}
